.container {
    display: flex;
    flex-direction: column;
}

.section {
    background-color: white;
    margin: 1px 0;
    padding: 15px;
    box-shadow: 0 0 5px #cccccc;
}

.section__header {
    margin: 0;
}


.section--margin {
    margin-bottom: 5px;
}

.section__div, .section__form{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.section__input {
    padding: 9px;
    border: 1px solid #cccccc;
    flex-grow: 1;
}

.section__button {
    margin: 0 0 0 15px; 
    background-color: teal;
    box-shadow: 0 0 5px #cccccc;
    border: none;
    color: rgba(255, 255, 255, 0.801);
}

@media (max-width: 767px) {
    .section__button {
        margin: 10px;
        flex-grow: 1;
        align-self: center;
        height: 45px;
    }

    .section__input {
        margin: 15px 10px;
        height: 45px;
    }
}

@media (max-width: 387px) {
    .section__input {
        margin-bottom: 0;
    }
}

.section__listOfTasks {
    margin: 0;
    padding: 0;
    width: 100%;
}

.listedTask--done {
    text-decoration: line-through;
}

.listedTask, .listedTask--done {
    display: flex;
    width: 100%;
    justify-content: space-around;
    border-bottom: 1px solid #eeeeee;
}

.listedTask__button {
    margin: 10px;
    height: 30px;
    width: 30px;
    color: white;
    box-shadow: none;
    border: none;
    align-self: center;
    padding: 10px;
    display: flex;
}

.fas, .far {
    text-align: center;
    align-self: center;
    justify-content: center;
    align-content: flex-start;
}

.listedTask__button--doner {
    background-color: green;
}

.listedTask__button--remover {
    background-color: rgb(231, 40, 40);
}

.listedTask__content {
    flex-grow: 1;
    align-self: center;
    white-space: normal;
    text-overflow: visible;
    padding: 5px;
}