html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    background-color: #ccc;
    max-width: 1000px;
    margin: 50px auto;
    font-family: 'Rowdies', cursive;
}