html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    background-color: #eeeeee;
    max-width: 1000px;
    margin: 50px auto;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}